<!DOCTYPE html>
<html ng-app="listr">

  <head>
    <meta name="viewport" content="initial-scale=1">
    <script  src="https://code.angularjs.org/1.3.13/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular-route.js"></script>
    <script  src="https://code.angularjs.org/1.3.13/angular-cookies.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="@routes.Assets.at("angular/app.js")"></script>
    
    <script src="@routes.Assets.at("angular/directives/collapse-width.js")"></script>
    
    <script src="@routes.Assets.at("angular/controllers/HeaderCtrl.js")"></script>
    <script src="@routes.Assets.at("angular/controllers/LogoutCtrl.js")"></script> 
    <script src="@routes.Assets.at("angular/controllers/MainCtrl.js")"></script>

    
    <script src="@routes.Assets.at("angular/services/Authentication.js")"></script>
    <script src="@routes.Assets.at("angular/services/GroupProvider.js")"></script>
    <script src="@routes.Assets.at("angular/services/ListProvider.js")"></script>   
    <script src="@routes.Assets.at("angular/services/Listr.js")"></script>
     <script src="@routes.Assets.at("angular/services/InitialDataLoad.js")"></script> 
     
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    
  </head>

 <body ng-controller="MainCtrl">
    <div class="wrapper">
        <div id="topBar" ng-include="'/assets/angular/views/_header.html'"></div>
        <div id="mainContainer">
            <div id="content">
                <div id="main-content" class="container">
                    <div class="raised">
                        <div class="inner-content">
                            <h1>FAQ</h1>
                            <div class="help-content">
                                <ol>
                                    <li>How do I use this website?
                                        <div> Go to the <a href="/help" style="color:blue">help</a> page</div>
                                    </li>
                                    
                                    <li>I found a bug, how do I report it?
                                        <div>
                                            You can email me at wonger35&#64;gmail.com or go to the<br>
                                            <a href="https://github.com/caiyo/Listr/issues" style="color:blue">github issues</a> page and open a ticket
                                        </div>
                                    </li>
                                    
                                    <li>How can I give you money for creating this awesome site?
                                        <div>
                                            You can't, but please share with your friends if you
                                            find it useful
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
  </body>
</html>