<div class='navbar navbar-default navbar-static-top'>
			<div class='container'>
				<div class='navbar-header'>
					<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
						<span class='sr-only'>Toggle Navigation</span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand logo' href='#/'>LISTr</a>
				</div>
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav'>
						<li>
							<a href="#/">Home</a>
						</li>
						<li>
							<a href="#">Expenses</a>
						</li>
						<li>
							<a href="#">Bills</a>
						</li>
					</ul>
		   			<ul class='nav navbar-nav navbar-right'>
		   				<li>
		   					<a href='#'>
		   						{{user.name}}
		   					</a>
		   				</li>
		   				<li>
		   					<a href="#">Logout</a>
		   				</li>
						</ul>
				</div>			
			</div>
		</div>