<div class='navbar navbar-default navbar-static-top' ng-controller="HeaderCtrl">
	<div class='container'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle collapsed' ng-click="isCollapsed = !isCollapsed" >
				<span class='sr-only'>Toggle Navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand logo' href='/#/' >LISTr</a>
		</div>
		<div class='navbar-collapse' collapse="isCollapsed">
			<ul class='nav navbar-nav'>
				<li>
					<a href="/#/">Home</a>
				</li>
				<li>
					<a href="/faq">FAQ</a>
				</li>
				<li>
					<a href="/help">Help</a>
				</li>
			</ul>
	  			<ul class='nav navbar-nav navbar-right' ng-show="user">
	  			    
	  				<li>
	  					<a>
	  						{{user.name}}
	  					</a>
	  				</li>
	  				<li>
	  					<a ng-controller="LogoutCtrl" ng-click="logout()">Logout</a>
	  				</li>
				</ul>
				<ul class='nav navbar-nav navbar-right' ng-show="!user">
                    
                    <li>
                        <a href="/#/">
                            Login/Signup
                        </a>
                    </li>
                </ul>
		</div>			
	</div>
</div>