<div >
        <div class="modal-header">
            <h3 class="modal-title">Add to group</h3>
        </div>
        
        <div class="modal-body">
            <form class='form-inline'>
	            <div class='form-group'>
	                <label for="username" class="control-label" >Username: </label>
	                <input id ='username' class='form-control' type="text" name="username" placeholder="Enter Username" ng-model="username" required>
                    <input id='adminCheckbox' name='isAdmin' type='checkbox' value='true' ng-model="addToAdmin"> admin?	                
	            </div>
            </form>
        </div>
         <div class="alert alert-danger" role="alert" ng-show="error">
                <div>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            </div>  
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</div>