<div>
        <div class="modal-header">
            <h3 class="modal-title">Create Group</h3>
        </div>
        
        <div class="modal-body">
            <div class='form-group'>
                <label for="name" class="control-label" >Group Name </label>
                <input id ='name' class='form-control' type="text" name="name" placeholder="Enter group name to create" ng-model="groupName">
            </div>
            <div class="alert alert-danger" role="alert" ng-show="error">
                <div>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            </div>  
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</div>