<div class="raised">
    <div class="inner-content">
        <h1>FAQ</h1>
        <div>
            <ol>
                <li>How do I use this website?
                    <div> Go to the <a href="/help" style="color:blue">help</a> page</div>
				</li>
				
				<li>I found a bug, how do I report it?
				    <div>
				        You can email me at wonger35&#64;gmail.com or go to the<br>
				        <a href="https://github.com/caiyo/Listr/issues" style="color:blue">github issues</a> page and open a ticket
                   </div>
                </li>
                
                <li>How can I give you money for creating this awesome site?
                    <div>
                        You can't, but please share with your friends if you
                        find it useful
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
                